apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  destination:
    namespace: 'monitoring'
    server: https://kubernetes.default.svc
  project: default
  sources:
    - repoURL: 'https://prometheus-community.github.io/helm-charts'
      chart: prometheus
      targetRevision: 28.6.0
      helm:
        valueFiles:
          - $values/helm-values/prometheus-values.yml
    - repoURL: 'https://github.com/monukoni/kubernetes'
      targetRevision: HEAD
      ref: values
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
