datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-server.monitoring.svc.cluster.local
        isDefault: true
        jsonData:
          timeInterval: 1m


podAnnotations:
  "consul.hashicorp.com/connect-inject": "true"
  'consul.hashicorp.com/transparent-proxy': 'true'