name: cd

on: 
  workflow_call:
        secrets:
            CLOUDFLARE_API_TOKEN:
              required: true
            ZONE_ID:
              required: true
        inputs:
          WORKSPACE_NAME:
            description: 'Workspace name'
            required: true
            type: string
            default: 'default'
          LAYER:
            description: 'Layer name which have to be deployed (e.g. bootstrap, ops, app)'
            type: string
            default: bootstrap
#  workflow_dispatch:

permissions:
  id-token: write

jobs:
  plan:
    name: Terraform plan
    uses: ./.github/workflows/terraform-plan.yml
    secrets:
        CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        ZONE_ID: ${{ secrets.ZONE_ID }}
    with:
      WORKSPACE_NAME: ${{ inputs.WORKSPACE_NAME }}
      LAYER: ${{ inputs.LAYER }}

  apply:
    name: Terraform apply
    if: ${{ needs.plan.outputs.plan_exitcode == '2' }} 
    uses: ./.github/workflows/terraform-apply.yml
    needs: [ "plan" ]
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      ZONE_ID: ${{ secrets.ZONE_ID }}
    with:
      WORKSPACE_NAME: ${{ inputs.WORKSPACE_NAME }}
      LAYER: ${{ inputs.LAYER }}