name: cd

on: 
  workflow_call:
        secrets:
            AWS_ACCESS_KEY_ID:
                required: true
            AWS_SECRET_ACCESS_KEY:
                required: true
            CLOUDFLARE_API_TOKEN:
              required: true
            ZONE_ID:
              required: true

  workflow_dispatch:

jobs:
  plan:
        name: Terraform plan
        uses: ./.github/workflows/terraform-plan.yml
        secrets:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
            ZONE_ID: ${{ secrets.ZONE_ID }}

#  approve:
#    runs-on: ubuntu-latest
#    needs: [ "plan" ]
#    timeout-minutes: 1
#    permissions:
#      issues: write
#    steps:
#      - uses: trstringer/manual-approval@v1
#        with:
#          approvers: monukoni
#          secret: ${{ github.TOKEN }}
#          minimum-approvals: 1
#          exclude-workflow-initiator-as-approver: false
#          fail-on-denial: true

  apply:
    environment: prod
    runs-on: ubuntu-latest
    needs: [ "plan" ]
#    needs: [ "approve" ]
    defaults:
      run:
        working-directory: ./terraform
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - uses: actions/download-artifact@v5
        with:
          name: terraform-plan
          path: ./terraform
      - name: setup tfvars
        working-directory: ./terraform
        run: |
          echo cloudflare_api_token=\"${{ secrets.CLOUDFLARE_API_TOKEN }}\" >> terraform.tfvars
          echo zone_id=\"${{ secrets.ZONE_ID }}\" >> terraform.tfvars
      - name: Terraform workspace
        working-directory: ./terraform
        run: |
          terraform workspace select staging
      - name: Terraform Init
        run: terraform init -input=false
      - name: Terraform Apply
        run: terraform apply -input=false tfplan


#  destroy:
#        name: Terraform Destroy (always)
#        if: always()
#        needs: [apply]
#        uses: ./.github/workflows/terraform-destroy.yml
#        secrets:
#            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}