name: cd

on: 
  workflow_call:
        secrets:
            CLOUDFLARE_API_TOKEN:
              required: true
            ZONE_ID:
              required: true
        inputs:
          WORKSPACE_NAME:
            description: 'Workspace name'
            required: true
            type: string
            default: 'default'
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  plan:
        name: Terraform plan
        uses: ./.github/workflows/terraform-plan.yml
        secrets:
            CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
            ZONE_ID: ${{ secrets.ZONE_ID }}
        with:
          WORKSPACE_NAME: ${{ inputs.WORKSPACE_NAME }}

  apply:
    environment: staging
    runs-on: ubuntu-latest
    needs: [ "plan" ]
    defaults:
      run:
        working-directory: ./terraform
    concurrency:
      group: terraform-state
      cancel-in-progress: false
    env:
      TF_VAR_cloudflare_api_token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      TF_VAR_zone_id: ${{ secrets.ZONE_ID }}
      TF_IN_AUTOMATION: true
    steps:
      - uses: actions/checkout@v5
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: arn:aws:iam::296291473256:role/github_actions_OIDC
          role-session-name: GHA_TF_APPLY
          aws-region: eu-central-1
      - uses: hashicorp/setup-terraform@v3
      - uses: actions/download-artifact@v5
        with:
          name: terraform-plan
          path: ./terraform

      - name: Terraform Validate
        working-directory: ./terraform
        run: terraform validate

      - name: Terraform Init
        run: terraform init -input=false
      - name: Terraform workspace
        working-directory: ./terraform
        run: |
          terraform workspace select ${{ inputs.WORKSPACE_NAME }}
      - name: Terraform Apply
        run: terraform apply -lock=true -lock-timeout=5m -input=false tfplan
