name: cd

on: 
  workflow_call:
        secrets:
            AWS_ACCESS_KEY_ID:
                required: true
            AWS_SECRET_ACCESS_KEY:
                required: true
  workflow_dispatch:

jobs:
  plan:
        name: Terraform plan
        uses: ./.github/workflows/terraform-plan.yml
        secrets: 
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  approve:
    runs-on: ubuntu-latest
    needs: [ "plan" ]
    timeout-minutes: 1
    permissions:
      issues: write
    steps:
      - uses: trstringer/manual-approval@v1
        with:
          approvers: monukoni
          secret: ${{ github.TOKEN }}
          minimum-approvals: 1
          exclude-workflow-initiator-as-approver: false
          fail-on-denial: true

  apply:
    runs-on: ubuntu-latest
    needs: [ "approve" ]
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v5
        with:
          name: terraform-plan
      - name: terraform apply
        run: terraform apply tfplan


  destroy:
        name: Terraform Destroy (always)
        if: always()
        needs: [plan]
        uses: ./.github/workflows/terraform-destroy.yml
        secrets: 
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}