name: cd

on: 
  workflow_call:
        secrets:
            AWS_ACCESS_KEY_ID:
                required: true
            AWS_SECRET_ACCESS_KEY:
                required: true
  workflow_dispatch:

jobs:
  deploy:
        name: Terraform deploy
        uses: ./.github/workflows/terraform-deploy.yml
        with: 
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  destroy:
        name: Terraform Destroy (always)
        if: always()
        uses: ./.github/workflows/terraform-destroy.yml
        with: 
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}