name: ci-cd

on: 
    pull_request:
    
jobs:
    lint:
        uses: ./.github/workflows/lint.yml
        permissions:
            contents: read
            pull-requests: write

    approve: 
        runs-on: ubuntu-latest
        steps:
            - uses: trstringer/manual-approval@v1
              with:
                approvers: monukoni
                secret: ${{ github.TOKEN }}
                minimum-approvals: 1
                exclude-workflow-initiator-as-approver: false
                fail-on-denial: true
            
    deploy:
        needs: [lint]
        uses: ./.github/workflows/deploy.yml
