name: ci-cd

on: 
    pull_request:
    
jobs:
    lint:
        uses: ./.github/workflows/lint.yml
        permissions:
            contents: read
            pull-requests: write

    approve:
          uses: trstringer/manual-approval@v1
          with:
            secret: ${{ github.TOKEN }}
            minimum-approvals: 1
            exclude-workflow-initiator-as-approver: false
            fail-on-denial: true
            
    deploy:
        needs: [lint]
        uses: ./.github/workflows/deploy.yml
