name: ci-cd

on: 
    pull_request:
    
jobs:
    lint:
        uses: ./.github/workflows/lint.yml
        permissions:
            contents: read
            pull-requests: write
    deploy:
        needs: [lint]
        uses: ./.github/workflows/deploy.yml
