name: linting
run-name: ${{ github.actor }} runned
on: 
    pull_request:
    
jobs:
  checkov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Restore cached image tar (if exists)
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: checkov.tar
          key: checkov-image-cache

      - name: Load image if cached
        if: steps.cache.outputs.cache-hit == 'true'
        run: |
          docker image load --input checkov.tar

      - name: Pull image if not cached
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          docker pull bridgecrew/checkov:latest

      - name: Save image for next run
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          docker image save bridgecrew/checkov:latest --output checkov.tar
      
      - name: Save cached image tar
        uses: actions/cache/save@v4
        with:
          path: checkov.tar
          key: checkov-image-cache
      - name: Run Checkov
        continue-on-error: true
        run: |
          docker run --rm -v $PWD:/src bridgecrew/checkov -d /src --quiet

  tflint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      name: Checkout source code

    - uses: terraform-linters/setup-tflint@v6
      name: Setup TFLint
      with:
        tflint_version: v0.52.0
        cache: true

    - name: Show version
      run: tflint --version

    - name: Init TFLint
      run: tflint --init
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Run TFLint
      run: tflint -f compact
  
  tfsec:
    name: tfsec PR commenter
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Clone repo
        uses: actions/checkout@master
      - name: tfsec
        uses: aquasecurity/tfsec-pr-commenter-action@v1.2.0
        with:
          github_token: ${{ github.token }}
      - name: Archive results
        uses: actions/upload-artifact@v4
        with:
          name: tfsec-report
          path: results.json
