name: push docker images
on:
  workflow_call:
    inputs:
      AWS_REGION:
        required: true
        type: string
        default: "eu-central-1"
      AWS_ACCOUNT_ID:
        required: true
        type: string
      CONTAINER_NAME:
        required: true
        type: string
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set SHORT_SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
      - uses: actions/checkout@v5
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: arn:aws:iam::296291473256:role/github_actions_OIDC
          role-session-name: GHA_DOCKER_PUSH
          aws-region: eu-central-1
      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: "./src/${{ inputs.CONTAINER_NAME }}"
          push: true
          tags: ${{ inputs.AWS_ACCOUNT_ID }}.dkr.ecr.${{ inputs.AWS_REGION }}.amazonaws.com/${{ inputs.CONTAINER_NAME }}:test,
                ${{ inputs.AWS_ACCOUNT_ID }}.dkr.ecr.${{ inputs.AWS_REGION }}.amazonaws.com/${{ inputs.CONTAINER_NAME }}:test-${{ env.SHORT_SHA }}

          cache-from: type=gha
          cache-to: type=gha,mode=max
