name: terraform destroy

on: 
    workflow_call:
        inputs:
          WORKSPACE_NAME:
            description: 'Workspace name'
            required: true
            type: string
            default: 'default'
          LAYER:
            description: 'Layer name which have to be deployed (e.g. bootstrap, ops, app)'
            type: string
            default: bootstrap
    workflow_dispatch:
      inputs:
        WORKSPACE_NAME:
          description: 'Workspace name'
          required: true
          type: string
          default: 'default'
        LAYER:
          description: 'Layer name which have to be deployed (e.g. bootstrap, ops, app)'
          required: true
          default: 'bootstrap'
          type: choice
          options:
            - bootstrap
            - ops
            - app

permissions:
  id-token: write
  contents: read

jobs: 
    destroy:
        runs-on: ubuntu-latest
        concurrency:
          group: terraform-state
          cancel-in-progress: false
        defaults:
          run:
            working-directory: ./terraform/layers/${{ inputs.LAYER }}
        env:
            TF_VAR_cloudflare_api_token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
            TF_VAR_zone_id: ${{ secrets.ZONE_ID }}
            TF_IN_AUTOMATION: true
        steps:
            - uses: actions/checkout@v5
            - name: configure aws credentials
              uses: aws-actions/configure-aws-credentials@v5.1.1
              with:
                role-to-assume: arn:aws:iam::296291473256:role/github_actions_oidc
                role-session-name: GHA_TF_DESTROY
                aws-region: eu-central-1
            - uses: hashicorp/setup-terraform@v3

            - name: Terraform Init
              run: terraform init -input=false

            - name: Terraform Validate
              run: terraform validate

            - name: Terraform Select Workspace
              run: |
                terraform workspace select ${{ inputs.WORKSPACE_NAME }}
            - name: Terraform Destroy
              run: terraform destroy -var="name=${{ inputs.WORKSPACE_NAME }}" -lock=true -lock-timeout=5m -auto-approve -input=false
