name: terraform-destroy

on: 
    workflow_call:
        secrets:
            AWS_ACCESS_KEY_ID:
                required: true
            AWS_SECRET_ACCESS_KEY:
                required: true
    workflow_dispatch:
jobs: 
    destroy:
        runs-on: ubuntu-latest
        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY }}
        steps:
            - uses: actions/checkout@v3

            - uses: hashicorp/setup-terraform@v3

            - name: Terraform Init
              working-directory: ./terraform
              run: terraform init -var="name=cicd-${{ github.sha }}" -input=false

            - name: Terraform workspace
              working-directory: ./terraform
              run: |
                terraform workspace new cicd-${{ github.sha }}
                terraform workspace select cicd-${{ github.sha }}

            - name: Terraform Destroy
              working-directory: ./terraform
              run: terraform destroy -var="name=cicd-${{ github.sha }}" -auto-approve -input=false