name: terraform-destroy

on: 
    workflow_call:
        secrets:
            AWS_ACCESS_KEY_ID:
                required: true
            AWS_SECRET_ACCESS_KEY:
                required: true
    workflow_dispatch:

env:
  SHORT_SHA: "$(echo ${{ github.sha }} | cut -c1-7)"

jobs: 
    destroy:
        runs-on: ubuntu-latest
        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY }}
        steps:
            - uses: actions/checkout@v3

            - uses: hashicorp/setup-terraform@v3

            - name: Terraform Init
              working-directory: ./terraform
              run: terraform init -input=false

            - name: Terraform Select Workspace
              working-directory: ./terraform
              run: |
                terraform workspace select cicd-${{ env.SHORT_SHA }}

            - name: Terraform Destroy
              working-directory: ./terraform
              run: terraform destroy -var="name=cicd-${{ env.SHORT_SHA }}" -auto-approve -input=false

            - name: Terraform Delete Workspace
              working-directory: ./terraform
              run: |
                terraform workspace select default
                terraform workspace delete cicd-${{ env.SHORT_SHA }}