name: terraform-deploy

on: 
  workflow_call:
        secrets:
            AWS_ACCESS_KEY_ID:
                required: true
            AWS_SECRET_ACCESS_KEY:
                required: true
            CLOUDFLARE_API_TOKEN:
              required: true
            ZONE_ID:
              required: true
  workflow_dispatch:

env:
  SHORT_SHA: "$(echo ${{ github.sha }} | cut -c1-7)"

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v3
      - name: setup tfvars
        working-directory: ./terraform
        run: |
          echo cloudflare_api_token="${{ secrets.CLOUDFLARE_API_TOKEN }}" >> terraform.tfvars
          echo zone_id="${{ secrets.ZONE_ID }}" >> terraform.tfvars

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -input=false

      - name: Terraform workspace
        working-directory: ./terraform
        run: |
          terraform workspace new cicd-${{ env.SHORT_SHA }}
          terraform workspace select cicd-${{ env.SHORT_SHA }}

      - name: Terraform plan
        working-directory: ./terraform
        run: |
          terraform plan -var="name=cicd-${{ env.SHORT_SHA }}" -input=false -out=tfplan
          terraform show -no-color tfplan > tfplan.txt
      

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: |
            ./terraform/tfplan
            ./terraform/tfplan.txt
