name: terraform-destroy

on: 
    workflow_call:
        secrets:
            AWS_ACCESS_KEY_ID:
                required: true
            AWS_SECRET_ACCESS_KEY:
                required: true
        inputs:
          WORKSPACE_NAME:
            description: 'Workspace name'
            required: true
            type: string
            default: 'default'
    workflow_dispatch:
      inputs:
        WORKSPACE_NAME:
          description: 'Workspace name'
          required: true
          type: string
          default: 'default'


jobs: 
    destroy:
        runs-on: ubuntu-latest
        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY }}
        steps:
            - uses: actions/checkout@v3

            - uses: hashicorp/setup-terraform@v3

            - name: Terraform Init
              working-directory: ./terraform
              run: terraform init -input=false

            - name: Terraform Select Workspace
              working-directory: ./terraform
              run: |
                terraform workspace select ${{ inputs.WORKSPACE_NAME }}
            - name: setup tfvars
              working-directory: ./terraform
              run: |
                echo cloudflare_api_token=\"${{ secrets.CLOUDFLARE_API_TOKEN }}\" >> terraform.tfvars
                echo zone_id=\"${{ secrets.ZONE_ID }}\" >> terraform.tfvars
            - name: Terraform Destroy
              working-directory: ./terraform
              run: terraform destroy -var="name=${{ inputs.WORKSPACE_NAME }}" -auto-approve -input=false
