name: terraform-deploy

on: 
  workflow_call:
        secrets:
            AWS_ACCESS_KEY_ID:
                required: true
            AWS_SECRET_ACCESS_KEY:
                required: true
  workflow_dispatch:

env:
  SHORT_SHA: "$(echo ${{ github.sha }} | cut -c1-7)"

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -input=false

      - name: Terraform workspace
        working-directory: ./terraform
        run: |
          terraform workspace new cicd-${{ env.SHORT_SHA }}
          terraform workspace select cicd-${{ env.SHORT_SHA }}

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -var="name=cicd-${{ env.SHORT_SHA }}" -auto-approve -input=false
